.open-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0 70px 0;
    
}

.error-container {
  min-height: 20px;
  margin-top: 8px;
  font-size: 13px;
  text-align: center;
}